
.crm-app{
    background-color: #f0f4ff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    font-size: 16px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
}
.crm-app-content{
    width: 80%;
    margin: 0 auto;
}
.crm-navbar{
    background-color: #0e1218;
    padding: 10px 40px;
}
.crm-section-search{
    background-color: #181e23;
    padding: 5px 40px;
}
.crm-search{
    display: flex;
    gap: 10px;
    padding: 16px 0;
}
.crm-search .crm-button{
    background-color: #5f8cff;
    color: white;
    border: 2px solid transparent;
}
.crm-search .crm-button:hover{
    background-color: #4874e5;
    border: 2px solid #4874e5;
}
.crm-navigation{

}
.crm-input{


}
.crm-search .crm-input input{
    background-color: #30353c;
    color: #d3d5de;
    height: 40px;
    border-radius: 6px;
    padding: 0 16px;
    outline: none;
    border: none;
    transition: 0.4s all ease-in;

}
.crm-search .crm-input input:focus{
    background-color: #384251;
}
.crm-form-input input::placeholder{
    color: #798297;
}
.crm-button{
    background-color: transparent;
    border: 0;
    outline: none;
    height: 40px;
    padding: 0 16px;
    border-radius: 6px;
    transition: 0.4s all ease-in;
}
.crm-button-navbar .crm-button{
    color: #d3d5de;
}










.buttons{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    border: 0;
    background-color: #549EDB;
    color: #000;
    height: 44px;
    z-index: 1000;
}
.customer-info {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative;
    z-index: 10000;
}

.info-section {
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-item label {
    font-weight: bold;
}

.phone-birth {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}
