
.crm-app{
    background-color: #f0f4ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50000;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;

}
.crm-p-4{
    padding: 2rem 1rem !important;
}
.crm-profile{
    padding: 10px;
    border: solid #dee2e6;
    border-width: 1px 0;
}
.crm-main{
    background-color: #f0f4ff !important;
}
.crm-creditors{
    max-height: 300px;
    overflow-y: auto;
}